*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    transition: all 1s;
}

body{
    background-color: rgb(63, 82, 99);
}
#codeText{
    color: #e2e2e2;
}
.token.selector{
    color: slategray;
}
.token.punctuation{
    color:#4a4a4a;
}
.token.property{
    color: #c8c5c5;
}

.main{
    width: 100vw;
    height:100vh;
    border: 2px solid blue;
}
.main .codeWrapper{
    height: 100%;
    widows: 100%;
}
.code{
    overflow: auto;
}
