*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    transition: all 1.5s;
}

body{
    background-color: rgb(63, 82, 99);
}
#codeText{
    color: #e2e2e2;
}
.token.selector{
    color: slategray;
}
.token.punctuation{
    color:#4a4a4a;
}
.token.property{
    color: #c8c5c5;
}
.token.function {
    color: #c8c5c5;
}

.main{
    display: flex;
    width: 100vw;
    height:100vh;
    border: 2px solid blue;
}
.main .codeWrapper,.main .paperWrapper{
    height: 100%;
    width: 50%;
}
.code,.paper{
    overflow: auto;
}
#paperText{
    font-family: -apple-system,Helvetica Neue,Helvetica,Nimbus Sans L,Arial,Liberation Sans,PingFang SC,Hiragino Sans GB,Source Han Sans CN,Source Han Sans SC,Microsoft YaHei,Wenquanyi Micro Hei,WenQuanYi Zen Hei,ST Heiti,SimHei,WenQuanYi Zen Hei Sharp,sans-serif;
}
