/* 
    这是我的动态简历
*/

/* 先给所有样式加个过渡 */

* {
    transition: all 1s;
}

/* 背景太单调了,加个背景颜色 */

.code {
    background-color: #23241f;
}

/* 加边框和内边距 */

.code {
    border: 1px solid white;
    padding: 16px;
}

/* 改变一下代码的字体并高亮代码 */

#codeText {
    font-family: Consolas, "Courier New", Courier, FreeMono, monospace;
}

.token.selector {
    color: #f92672;
}

.token.punctuation {
    color: #c999ce;
}

.token.property {
    color: #a6e22e;
}
/* 做点3D变换 */
.code{
    transform: rotateY(45)
}